body {
  position: relative;
  background: url(/grid.svg) center repeat;
  height: 100svh;
  overflow: hidden;
  font-family: sans-serif;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  
  #drop_zone {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px dashed #a3a3a3;
    margin-bottom: 120px;
    font-size: small;
    cursor: default;
    user-select: none;

    div {
      background-color: rosybrown;
      box-shadow: inset -10px 10px 70px -10px;
      transition: box-shadow 0.2s ease-in-out;
      cursor: default;

      &:hover{
        box-shadow: none;
      }
    }
  }

  div {
    padding: 20px;
    width: 200px;
    border-radius: 0.75rem;
    cursor: grab;
    transition: scale 0.2s ease-in-out;

    &:active {
      scale: 0.95;
    }


    &:nth-child(2) {
      background: salmon;
    }

    &:nth-child(3) {
      background: cadetblue;
    }
  }
}
